// Typography
$main-font: 'Cormorant', serif;
$secondary-font: 'tenor-sans', sans-serif;
$text-font: 'open-sans', Helvetica, Arial, sans-serif;

// Colors
$main-color: #c2a25f;
$secondary-color: #472233;